version: "3.9"

services:
  db-artgoma:
    image: postgres:15-alpine
    container_name: artgoma-db
    networks:
      traefik_proxy:
        ipv4_address: 172.28.0.211
    ports:
      - 5432:5432
    volumes:
      - ./postgres:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=artgoma-landing
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=proroka2024database1
    restart: unless-stopped

  artgoma:
    build:
      context: ./artgoma-frontend
    container_name: artgoma-frontend
    networks:
      - traefik_proxy
    volumes:
      - ./artgoma-frontend:/usr/src/app
      - /usr/src/app/node_modules # <-- creates the node_modules in frontend path
      - /usr/src/app/.next # <-- creates the .next folder in frontend path
    env_file:
      - ./.env
    labels:
      - traefik.enable=true
      - traefik.http.routers.artgoma.rule=Host(`artgoma.myaipeople.com`)
      - traefik.http.routers.artgoma.entrypoints=websecure
      - traefik.http.routers.artgoma.tls.certresolver=myresolver
      - traefik.http.routers.artgoma.service=artgoma
      - traefik.http.services.artgoma.loadbalancer.server.port=3000
    depends_on:
      - db-artgoma
    restart: unless-stopped

networks:
  traefik_proxy:
    external: true
